<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>
      Thanks for using Fotoplr! To access your free photo immediately,
      navigate to this url:
    </p>
    <p>
      <%= @photo.image.url %>.
    </p>
    <p>Have a great day!</p>
    <p>Fotoplr Staff</p>
  </body>
</html>
